// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.site-header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffd65e+28,febf04+67 */
  background: #ffd65e; /* Old browsers */
  background: -moz-linear-gradient(left,  #ffd65e 28%, #febf04 67%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #ffd65e 28%,#febf04 67%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #ffd65e 28%,#febf04 67%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=1 ); /* IE6-9 */
}
